.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main {
  width: 60vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Montserrat Variable, sans-serif;
  gap: 1rem;
  z-index: 997;
}

.menuOpen {
  width: 100%;
  height: 100%;
  z-index: 998;
}

.perfil {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 28px;
  gap: 4px;
}

.perfil_container{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-bottom: 1rem;
}

.perfil_info {
  display: flex;
  font-size: 20px;
  line-height: 120%;
  color: #080930;
}

.perfil_img {
  width: 376px;
  height: 376px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  margin-top: 18px;
}

.perfil_img img {
  width: 376px;
  height: 376px;  
  border-radius: 8px;
  object-fit: cover;
  object-position: top;
}

.perfil_info_container{
  width: 70%;
  display: flex;
  flex-direction: column;
}

.perfil_info_personal {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 12px;
  margin-top: 16px;
}

.perfil_info_personal_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;

  color: #37313c;
  font-size: 16px;
  line-height: 120%;
  font-weight: medium;
}

hr.solid {
  border: 1px solid #d9d9d9;
  width: 100%;
  margin: 18px 0;
}

.perfil_info_events {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.perfil_info_events_list {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.perfil_info_events {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.perfil_info_events_list img {
  border-radius: 8px;
  object-fit: cover;
}


@media screen and (max-width: 996px) {
  .main {
    width: 90vw;
  }
  
  .perfil_img {
    width: 100%;
  }
}